.meal-plan-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.meal-plan-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.meal-plan-title {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: bold;
}

.meal-plan-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: #000000;
    }
}