.home {
    display: flex;

    .dashboard-container {
        // background-color: lightblue;
        flex: 6;

        .calculate-calorie {
            display: flex;
            padding: 5px 20px;
            gap: 5%;
        }
        
    }
}