// .left,
// .right {
//   min-height: 95vh;
//   display: flex;
//   justify-content: center;
//   //   align-items: center;
//   background-color: #f5f5f5;
// }

.bg-secondary {
  padding: 20px;
}

.input-group-text {
  background-color: #e9ecef;
  border-left: 0;
}

.btn-outline-secondary {
  width: auto;
  flex: 1;
}

.btn-danger {
  width: auto;
  flex: 1;
}

// CalorieResult.scss

.calorie-result-container {
  display: flex;
  flex-direction: column;
  align-items: center; // Center align items horizontally
  margin: 20px; // Optional: space around the container

  h4 {
    font-weight: 600;
  }

  p {
    color: #0000009d;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }

  .recommendation {

    text-align: center;
    color: #000000;
    
    h5 {
      font-size: 18px;
      font-weight: 700;
    }

    .p {
        font-size: 14px;
        color: #374D4D;
        font-weight: 400;
    }
  }
}

.rounded-display {
  border: 10px solid #1a8d8d;
  border-radius: 50%;
  padding: 30px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt-4 {
  margin-top: 1.5rem;
}
