.notification-settings {
  padding: 1rem;
  height: 100%;

  .label-with-info {
    display: flex;
    align-items: center;
    
    // Adjust space between label and icon
    .info-icon {
      margin-left: 10px;
      cursor: pointer;
      color: #1A8D8D;
    }
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .info-message {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #1A8D8D;
    color: white;
    border-radius: 4px;
    font-size: 0.875rem;
  }

  /* Toggle button styles */
  .toggle-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .btn-on,
    .btn-off {
      flex: 1;
      border: 1px solid green;
      border-radius: 4px;
      width: 60px; /* Adjust width as needed */
      text-align: center;
      padding: 0.375rem 0.75rem;
      cursor: pointer;
      background-color: white;
      color: green;
      margin-right: 10px;
      transition: background-color 0.3s, color 0.3s;
      z-index: 0;

      &:last-child {
        margin-right: 0;
        z-index: 0;
      }

      /* Remove default Bootstrap styles */
      &.active {
        background-color: green;
        color: white;
      }
    }

    .btn-on.active {
      /* Additional styles if needed */
    }

    .btn-off.active {
      /* Additional styles if needed */
    }
  }

  @media (max-width: 576px) {
    .toggle-group {
      flex-direction: column;

      .btn-on,
      .btn-off {
        margin-bottom: 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}


.toggle-group .btn-on.selected {
  background-color: #1A8D8D;
  color: white;
  border-color: #1A8D8D;
}

.toggle-group .btn-off.selected {
  background-color: #1A8D8D;
  color: white;
  border-color: green;
}

.toggle-group .btn-on {
  background-color: white;
  color: black;
  border-color: #1A8D8D;
}

.toggle-group .btn-off {
  background-color: white;
  color: black;
  border-color: #1A8D8D;
}

.toggle-group .btn-on:hover,
.toggle-group .btn-off:hover {
  // background-color: #f0f0f0;
}
