.single-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
  
    .user-details {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      max-width: 800px;
      width: 100%;
  
      .user-header {
        text-align: center;
        margin-bottom: 20px;
  
        .user-image {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 15px;
          border: 2px solid #e0e0e0;
        }
  
        h2 {
          font-size: 25px;
          font-weight: 700;
          margin: 0;
          color: #1A8D8D;
        }
  
        .user-username {
          font-size: 18px;
          color: #1A8D8D;
          margin-top: 5px;
        }
      }
  
      .user-info {
        .info-group {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          background-color: #1a8d8d1a;
          padding: 10px;
          border-radius: 10px;
  
          label {
            font-weight: 700;
            font-size: 16px;
            color: #1A8D8D;
          }
  
          p {
            color: #333;
            margin: 0;
            font-size: 16px;
            font-weight: 800;
          }
        }
      }
    }
  }
  

  .not-available {
    color: #7c131373;
    font-weight: 700; // Optional: To make it stand out more
    font-size: 12px;
  }