.app.dark {
  background-color: #222;
  color: #ffffff;

  // Navbar begins

  .navbar {
    background-color: #222;
    border-bottom: 0.5px solid #222;

    .wrapper {
      .search {
        border: 1px solid #fff;

        input {
          background-color: transparent;
          color: #fff;
        }

        .search-icon {
          color: #fff;
        }
      }

      .items {
        .item {
          color: #fff;

          .icon {
            font-size: 20px;
            color: #fff;
          }

          .counter {
            background-color: #222;
            color: #fff;
          }
        }
      }
    }
  }

  //   ends here for nav bar

  // sidebar begins here
  .sidebar {
    background-color: #222;
    border-right: 0.5px solid #fff;
  }

  .sidebar-header {
    background-color: #222;
    border-bottom: 1px solid #fff;
  }

  .sidebar-toggle {
    color: #fff;
  }

  .sidebar-header .items {
    color: #fff;
  }

  //   ends here for sidebar

  // Landingpage begins here

  .header {
    background-color: #222;
    box-shadow: 2px 4px 30px #233;

    .logo h1 {
      color: #ffffff;
    }

    .logo:hover {
      text-decoration: none;
    }

    .navmenu a {
      color: #fff;
    }

    @media (max-width: 1199px) {
      .toggle-icon {
        color: #fff;
      }

      .navmenu ul {
        background-color: #222;
        border: 2px solid #fff;
      }
    }

    .navmenu ul li .icon {
      color: #fff;
    }

    .navmenu li:last-child a {
      background-color: #222;
      border: 1px solid #fff;
    }

    .navmenu li:last-child a:hover {
      background-color: #fff;
      color: #222;
      font-weight: 700;
    }
  }

  //   navbar ends here

  // HomeFirst Section begins here

  .container {
    .left {
      .btn-get-started {
        border: 1px solid #fff;
        background-color: #222;
        font-weight: 600;

        &:hover {
          background-color: #fff;
          font-weight: 700;
        }
      }
    }
  }

  //   ends here

  //   Why choose us begins
  .card {
    background-color: #222;

    h2 {
      color: #fff;
    }

    .card-container {
      .whyChooseUs {
        background-color: #ffffff23;

        .custom-head-class {
          color: #fff;
        }

        .card-body {
          color: #fff;
        }
      }
    }
  }

  //   ends here

  .Testimonials {
    background-color: #222;

    .testimonal-card-component-container {
      background-color: #ffffff23;
    }
  }

  //   footer begins here
  footer {
    background-color: #ffffff23;
  }

  //   Login begins here
  .login {
    background-color: #222;

    .signup-container {
      .left-login {
        h3 {
          color: #fff;
        }

        form {
          label {
            color: #fff;
          }

          button {
            background-color: #222;
            border: 1px solid #fff;
            color: #fff;
            font-weight: 600;
            font-size: 18px;

            &:hover {
              background-color: #fff;
              color: #222;
            }
          }

          .login-alt {
            span {
              color: #fff;
              font-weight: 800;
            }

            a {
              color: #ffffff7a;
            }
          }
        }
      }
    }
  }

  //   ends here

  // Register begins here

  .signup-container {
    background-color: #222;

    h3 {
      color: #fff;
    }

    form {
      label {
        color: #fff;
      }

      a {
        color: #ffffff7a;
        font-weight: 600;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }

      button {
        background-color: #222;
        border: 1px solid #fff;
        color: #fff;
        font-weight: 600;

        &:hover {
          background-color: #fff;
          color: #222;
          font-weight: 700;
        }
      }

      .login-alt {
        span {
          color: #fff;
        }
      }
    }

    input[type="checkbox"]:checked {
      background-color: #ffffff69;
    }
  }

  // "./Modal.scss";
  // CalorieCalculatorModal styling

  .modal-overlay {
    .modal-content {
      background-color: #222 !important;
      border: 1px solid #fff;

      .modal-header {
        h2 {
          color: #fff !important;

          .unit {
            color: #fff;
          }
        }
      }

      .modal-body {
        .calculate-button {
          background-color: #222;
          border: 1px solid #fff;

          &:hover {
            background-color: #fff;
            border: 1px solid #222;
            font-weight: 600;
            color: #000;
          }
        }
      }
    }

    .close-button {
      color: #fff;
    }
  }

  // Admin Dashboard styling

  .dashboard-container {
    background-color: #222;

    .row {
      .adminHome-item {
        background-color: #222;
        border: 1px solid #fff;

        span,
        h2 {
          color: #fff;
        }
      }
    }
  }

  .line-chart {
    background-color: #f2f2f21a;
  }

  .pie-chart {
    background-color: #f2f2f21a;
  }

  // LoadingPage

  .loading-page-container {
    background-color: #222;
  }

  // Calorie Form dark styling

  form {
    h4 {
      color: #fff;
    }

    .form-container {
      .row {
        label {
          color: #fff;
        }
        .input-group {
          .input {
            background-color: #222;

            &::placeholder {
              color: #ffffff81;
            }
          }

          .custom-dropdown {
            border-left: 1px solid #fff;

            .custom-dropdown-selected {
              background-color: #222;
              border: 1px solid #fff;
            }

            .custom-dropdown-options {
              background-color: #222;
              border: 1px solid #ced4da;
            }
            .custom-dropdown-option {
              background-color: transparent;

              &:hover {
                background-color: #fff;
                color: #222;
              }
            }
          }
        }
        .input {
          background-color: #222;

          &::placeholder {
            color: #ffffff81;
          }
        }
        h5 {
          color: #fff;
        }

        .gender {
          .gender-btn {
            color: #fff;
            background-color: #222;
            border: 0.0625rem solid #fff;

            &.selected {
              background-color: #fff;
              color: #222;
            }
          }
        }

        .weight-goal {
          .goal-btn {
            color: #fff;
            background-color: #222;
            border: 0.0625rem solid #fff;

            &.selected {
              background-color: #fff;
              color: #222;
            }
          }
        }

        .activity-group {
          .activity-btn {
            color: #fff;
            background-color: #222;
            border: 0.0625rem solid #fff;

            &.selected {
              background-color: #fff;
              color: #222;
            }
          }
        }
      }
    }

    button {
      background-color: #222;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  // CalorieResult.scss

  .calorie-result-container {
    h4 {
      font-weight: 600;
    }

    p {
      color: #fff;
    }

    .recommendation {
      color: #fff;

      h5 {
        font-size: 1.125rem;
        font-weight: 700;
      }

      .p {
        color: #fff;
      }
    }

    .activity-buttons {
      .btn {
        color: #fff;
        background-color: #222;
        border: 0.0625rem solid #fff;

        &.selected {
          background-color: #fff;
          color: #222;
        }
      }
    }
  }

  .rounded-display {
    border: 0.625rem solid #fff;
  }

  .mt-4 {
    margin-top: 1.5rem;
  }

  // Meal diary

  .meal-diary-container {
    width: 100%;
    height: 100vh;
  }

  // Users MealPlan styling

  // DetailsPerMealPlan styline

  .mealPlan-details-page {
    .gender {
      .gender-btn {
        color: #fff;
        background-color: #222;
        border: 0.0625rem solid #fff;

        &.selected {
          background-color: #fff;
          color: #222;
        }
      }
    }

    .plan-details {
      .plan-info {
        .calories {
          font-size: 1rem;
          color: #ffffff7e;
        }
      }

      .get-plan-btn {
        background-color: #222;
        color: #fff;
        border: 1px solid #fff;

        &:hover {
          background-color: #fff;
          color: #222;
        }
      }
    }
  }

  // Daily Meal Plan Details

  .daily-meal-plan-details {
    .table {
      width: 100%;
      border-collapse: collapse;
      background-color: #ffffff;

      thead {
        background-color: #1a8d8d;
        color: #ffffff;

        tr {
          th {
            padding: 12px;
            text-align: left;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #f0f0f0;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #f5f5f5;
          }

          td {
            padding: 12px;
            font-size: 14px;
            color: #333333;

            &:first-child {
              font-weight: bold;
              color: #1a8d8d;
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }

      .meal-details {
        background-color: #f9f9f9;
        padding: 10px 20px;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        opacity: 1;
        max-height: 1000px;

        .food-item {
          display: flex;
          justify-content: space-between;
          padding: 8px 0;
          border-bottom: 1px solid #e0e0e0;

          span {
            &:first-child {
              flex: 1;
              text-align: left;
              color: #1a8d8d;
            }
            &:nth-child(2) {
              flex: 1;
              text-align: center;
            }
            &:last-child {
              flex: 1;
              text-align: right;
            }
          }

          &:last-child {
            border-bottom: none;
          }

          span {
            font-size: 14px;
            color: #555555;
          }
        }
      }

      .collapsed .meal-details {
        opacity: 0;
        max-height: 0;
      }
    }
  }

  // Meal Diary Styling

  .meal-diary-container {
    .fixed-header {
      background-color: #222;

      h1 {
        color: #fff;
      }

      p {
        color: #fff;
      }
    }
  }

  .input-Wrapper {
    background-color: #222;
    box-shadow: 0px 0px 8px #fff;
    border: 1px solid #ddd;

    input {
      background-color: transparent;
      color: #ddd;

      &:focus {
        outline: none;
      }
    }

    #search-icon {
      color: #fff;
    }
  }

  .result-list {
    background-color: #222;
    color: #fff;
    border-top: none;
  }

  .search-result {
    padding: 10px 20px;

    &:hover {
      background-color: #ddd;
      color: #222;
      cursor: pointer;
    }
  }

  .food-category {
    background-color: #222;
    box-shadow: 0 2px 5px #fff;
    border: 1px solid #fff;

    &:hover {
      transform: translateY(-5px);
    }

    .category-name {
      color: #fff;
    }

    .category-foods {
      color: #ffffff80;
    }
  }

  // User Profile Styling

  .card Button {
    background-color: #222;
    border: 1px solid #fff;
    outline: none;
  }

  .card Button:hover {
    background-color: #fff;
    border: 1px solid #222;
    color: #001a1a;
    font-weight: 700;
  }

  .label {
    color: #ddd;
  }

  .profile-icon-container {
    background-color: #222;
  }

  .profile-icon {
    color: #fff;
  }

  .edit-icon-container {
    color: #fff;
    background-color: transparent;
  }

  .custom-input {
    background-color: transparent;
    color: #dddddd88;
  }

  .custom-input:focus {
    outline: none;
    border-color: none;
    overlay: none;
    box-shadow: none;
    background-color: transparent;
  }

  .referral-section .referral-text h4,
  .referral-section .referral-link h4 {
    color: #fff;
  }

  .referral-section .referral-text p {
    color: #dddddd88;
  }

  .referral-section .referral-icons span:nth-child(1) {
    color: green;
  }

  .referral-section .referral-icons span:nth-child(2) {
    color: #395185;
  }

  .referral-section .referral-icons span:nth-child(3) {
    color: #55acee;
  }

  .referral-section .referral-icons span:nth-child(1):hover,
  .referral-section .referral-icons span:nth-child(2):hover,
  .referral-section .referral-icons span:nth-child(3):hover {
    opacity: 1;
  }

  .edit-modal .edit-modal {
    background-color: red;
  }
}
