.app.dark {
  background-color: #222;
  color: #ffffff;

  // Navbar begins

  .navbar {
    background-color: #222;
    border-bottom: 0.5px solid #222;

    .wrapper {
      .search {
        border: 1px solid #fff;

        input {
          background-color: transparent;
          color: #fff;
        }

        .search-icon {
          color: #fff;
        }
      }

      .items {
        .item {
          color: #fff;

          .icon {
            font-size: 20px;
            color: #fff;
          }

          .counter {
            background-color: #222;
            color: #fff;
          }
        }
      }
    }
  }

  //   ends here for nav bar

  // sidebar begins here
  .sidebar {
    background-color: #222;
    border-right: 0.5px solid #fff;
  }

  //   ends here for sidebar

  // Landingpage begins here

  .header {
    background-color: #222;
    box-shadow: 2px 4px 30px #233;

    .logo h1 {
      color: #ffffff;
    }

    .logo:hover {
      text-decoration: none;
    }

    .navmenu a {
      color: #fff;
    }

    .navmenu ul li .icon {
      color: #fff;
    }

    .navmenu li:last-child a {
      background-color: #222;
      border: 1px solid #fff;
    }

    .navmenu li:last-child a:hover {
      background-color: #fff;
      color: #222;
      font-weight: 700;
    }
  }

  //   navbar ends here

  // HomeFirst Section begins here

  .container {
    .left {
      .btn-get-started {
        border: 1px solid #fff;
        background-color: #222;
        font-weight: 600;

        &:hover {
          background-color: #fff;
          font-weight: 700;
        }
      }
    }
  }

  //   ends here

  //   Why choose us begins
  .card {
    background-color: #222;

    h2 {
      color: #fff;
    }

    .card-container {
      .whyChooseUs {
        background-color: #ffffff23;

        .custom-head-class {
          color: #fff;
        }

        .card-body {
          color: #fff;
        }
      }
    }
  }

  //   ends here

  .Testimonials {
    background-color: #222;

    .testimonal-card-component-container {
      background-color: #ffffff23;
    }
  }

  //   footer begins here
  footer {
    background-color: #ffffff23;
  }

  //   Login begins here
  .login {
    background-color: #222;

    .signup-container {
      .left-login {
        h3 {
          color: #fff;
        }

        form {
          label {
            color: #fff;
          }

          button {
            background-color: #222;
            border: 1px solid #fff;
            color: #fff;
            font-weight: 600;
            font-size: 18px;

            &:hover {
              background-color: #fff;
              color: #222;
            }
          }

          .login-alt {
            span {
              color: #fff;
              font-weight: 800;
            }

            a {
              color: #ffffff7a;
            }
          }
        }
      }
    }
  }

  //   ends here

  // Register begins here

  .signup-container {
    background-color: #222;

    h3 {
      color: #fff;
    }

    form {
      label {
        color: #fff;
      }

      a {
        color: #ffffff7a;
        font-weight: 600;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }

      button {
        background-color: #222;
        border: 1px solid #fff;
        color: #fff;
        font-weight: 600;

        &:hover {
          background-color: #fff;
          color: #222;
          font-weight: 700;
        }
      }

      .login-alt {
        span {
          color: #fff;
        }
      }
    }

    input[type="checkbox"]:checked {
      background-color: #ffffff69;
    }
  }

  // "./Modal.scss";
  // CalorieCalculatorModal styling

  .modal-overlay {
    .modal-content {
      background-color: #222 !important;
      border: 1px solid #fff;

      .modal-header {
        h2 {
          color: #fff !important;

          .unit {
            color: #fff;
          }
        }
      }

      .modal-body {
        .calculate-button {
          background-color: #222;
          border: 1px solid #fff;

          &:hover {
            background-color: #fff;
            border: 1px solid #222;
            font-weight: 600;
            color: #000;
          }
        }
      }
    }

    .close-button {
      color: #fff;
    }
  }

  // Admin Dashboard styling

  .dashboard-container {
    background-color: #222;

    .row {
      .adminHome-item {
        background-color: #222;
        border: 1px solid #fff;

        span,
        h2 {
          color: #fff;
        }
      }
    }
  }

  .line-chart {
    background-color: #f2f2f21a;
  }

  .pie-chart {
    background-color: #f2f2f21a;
  }

  // LoadingPage

  .loading-page-container {
    background-color: #222;
  }

  // Calorie Form dark styling
  
  form {
    h4 {
      color: #fff
    }

    .row {

      label {
        color: #fff;
      }
  
      h5 {
        color: #fff;
      }
    }
  }
}
