.datatable {
    height: 600;
    padding: 20px;

    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: #009688;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #009688;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellimg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cellWithStatus {
        padding: 3px;
        border-radius: 5px;

        &.active {
            background-color: rgba(0, 255, 0, 0.05);
            color: green;
        }
        
        &.offline {
            background-color: rgba(128, 128, 128, 0.05);
            color: gray;
        }
        
        &.online {
            background-color: rgba(0, 255, 0, 0.05);
            color: green;
        }
        
        &.busy {
            background-color: rgba(255, 165, 0, 0.05); // light orange
            color: orange;
        }
        
        &.away {
            background-color: rgba(255, 215, 0, 0.05); // light yellow
            color: goldenrod;
        }
        
        &.pending {
            background-color: rgba(0, 0, 255, 0.05); // light blue
            color: blue;
        }
        
        &.banned {
            background-color: rgba(139, 0, 0, 0.05); // dark red
            color: darkred;
        }
        
        &.suspended {
            background-color: rgba(255, 140, 0, 0.05); // dark orange
            color: darkorange;
        }
        
        &.deleted {
            background-color: rgba(255, 0, 0, 0.05); // light red
            color: red;
        }
        
        &.dnd {
            background-color: rgba(255, 69, 0, 0.05); // orange-red
            color: orangered;
        }
        
        &.invisible {
            background-color: rgba(169, 169, 169, 0.05); // dark gray
            color: darkgray;
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .deleteButton {
            color: red;
        }

        .deactivateButton {
            color: gray;
        }
        .editButton {
            color: #FF9800;
        }
        .viewButton {
            color: #2196F3;
        }
        .resetButton {
            color: #9C27B0;
        }
        .emailButton {
            color: #009688;
        }
        .promoteToAdminButton {
            color: #795548;
        }
        .activateButton {
            color: #4CAF50;
        }
    }
}