.meal-plan-grid {
  .meal-plan-card {
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    img {
      border-radius: 8px;
      max-width: 100%;
      height: auto;
    }
  }
}


// DetailsPerMealPlan styline

.mealPlan-details-page {
  padding-top: 20px;
  height: 100vh;

  .gender {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    overflow-x: auto;
    white-space: nowrap;
  
    .gender-btn {
      color: #000000;
      background-color: #fff;
      padding: 0.3125rem 2.5rem;
      border: 0.0625rem solid #ccc;
      cursor: pointer;
      flex: 0.5;
      min-width: 100px;
      font-size: 1.125rem;
      font-weight: 600;
      transition: background-color 0.3s;
  
      &.male {
        border-top-left-radius: 0.3125rem;
        border-bottom-left-radius: 0.3125rem;
      }
  
      &.female {
        border-top-right-radius: 0.3125rem;
        border-bottom-right-radius: 0.3125rem;
      }
  
      &:not(:last-child) {
        margin-right: 0px;
      }
  
      &.selected {
        background-color: #1a8d8d;
        color: #fff;
      }
    }
  }

  .plan-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 2rem;

    .plan-info {
      display: flex;
      flex-direction: column;

      .plan-name {
        font-size: 1.25rem;
        font-weight: bold;
      }

      .calories {
        font-size: 1rem;
        color: #666;
      }
    }

    .get-plan-btn {
      background-color: #1a8d8d9c;
      color: #fff;
      border: none;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 0.25rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #1a8d8d;
      }
    }
  }

  @media (max-width: 768px) {
    .plan-details {
      flex-direction: column;
      align-items: flex-start;

      .get-plan-btn {
        margin-top: 1rem;
      }
    }
  }
}