.toast {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-between;
    border-radius: 5px;
    padding: .5rem;
    z-index: 50000;
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.07);
  }
  
  .close {
    cursor: pointer;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    align-self: center;
  }
  
  .opacity-0 {
    opacity: 0;
    transition: 0.2s;
  }
  
  .opacity-1 {
    opacity: 1;
    transition: 0.2s;
  }
  
  .danger {
    background-color: transparent;
    color: #d9534f;
  }
  
  .info {
    border-bottom: solid 2px #17a2b8;
  }
  
  .warning {
    background-color: #ffc107;
    color: #fff;
  }

  .error {
    background-color: #f2545b;
    color: #fff;
  }

  .success {
    background-color: #155724;
    color: #fff;
  }