.settings-page {
  display: flex;
  flex-direction: column;
  height: 90vh; 
  padding: 1rem;

}

.settings-nav {
  position: sticky;
  top: 0;
  background: #fff; 
  z-index: 0; 
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.settings-nav button {
  margin-right: 1rem;
  text-decoration: none;
  color: #1A8D8D;
  background: none;
  border: none;
  font-weight: bold;
  text-decoration: none !important;

  &:hover {
    color: #1A8D8D;
    text-decoration: underline;
  }

  &.active {
    color: #fff !important;
    background-color: #1A8D8D;
  }
}

.settings-content {
  flex: 1; // Make the content area take up remaining space
  overflow-y: auto; // Enable vertical scrolling
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;

  h2 {
    margin-top: 0;
  }
}
