.meal {
    display: flex;

    .meal-container {
        // background-color: lightblue;
        flex: 6;

        .meal-plan-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 10px;
            padding: 5px 20px;
        }
    }

}