.OtpVerification-right-container {
  justify-content: center;
  margin-top: 20%;
}

.OtpVerification-right-container h3 {
  color: #001a1a;
  font-size: 18px;
  font-weight: 400;
  background-color: #ffffff;
  font-style: italic;
}

.OtpVerification-right-container .title {
  font-size: 25px;
  color: #001a1a;
  font-weight: 600;
}

.OtpVerification-right-container .title-text {
  font-size: 18px;
  color: #001a1a;
  font-weight: 600;
}
