@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

.register-right-container {
  justify-content: center;
  margin-top: 10%;
}

.register-right-container h3 {
  color: #001a1a;
  font-size: 18px;
  font-weight: 400;
  background-color: #ffffff;
  font-style: italic;
}

.register-right-container p {
  font-size: 25px;
  color: #001a1a;
  font-weight: 600;
}

.input label {
  color: #001a1a;
  font-size: 18px;
  margin: 3px 0;
  font-weight: 600;
}

.input input[type="text"],
.input input[type="password"] {
  padding: 10px;
  color: #001a1a;
  font-size: 18px;
  border: 1px solid #1a8d8d;
  outline: none;
}

form h5 {
  color: red;
  font-size: 14px;
  opacity: 0.7;
}

form .terms {
  color: grey 01;
  font-size: 14px;
  font-weight: 400;
}

.terms input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
  accent-color: #1a8d8d;
  mix-blend-mode: multiply;
}

.terms label a {
  color: #1a8d8d;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
}

.terms label a:hover {
  opacity: 1;
  text-decoration: underline;
}

form .registers {
  color: #001a1a;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

form .registers span a {
  color: #001a1a;
  text-decoration: none;
  font-size: 18px;
  opacity: 0.6;
  transition: all 0.6s ease-in-out;
}

form .registers span a:hover {
  opacity: 1;
  text-decoration: underline;
}

.error {
  color: red;
}
